# /etc/systemd/system/otx-publisher.timer
[Unit]
Description=Run OTX publisher daily

[Timer]
OnCalendar=*-*-* 03:17:00
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=otx-publisher.service

[Install]
WantedBy=timers.target